@font-face {
    font-family: "Norse";
    src: url("../assets/Norse-Bold.otf");
    font-display: swap;
    font-weight: bold;
}

body {
    background: white;
    font-family: Roboto, sans-serif;
    display: flex;
    block-size: 100vh;
    margin: 0;
}

.background {
    background: url("../assets/background.jpg") center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    inline-size: 50%;
}

.background__label {
    background: rgb(0 0 0 / 0.5);
    display: flex;
    flex-basis: 2rem;
    padding: 32px;
    margin-block-start: 20%;
    gap: 32px;
    align-items: center;
    justify-content: center;
}

.background__label-icon {
    block-size: 5rem;
    flex-shrink: 0;
}

.background__label-text {
    font-family: "Norse";
    font-weight: bold;
    color: white;
    font-size: 4rem;
    margin: 0;
}

.background__img-source {
    margin-block-start: auto;
    color: white;
    a {
        color: inherit;
    }
    text-align: center;
}

.main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    > * {
        padding-inline: 32px;
    }
}

.description {
    max-inline-size: 66ch;
    font-size: 1.25rem;
    font-weight: bold;
}

.signup-form {
    padding: 0;
}

.signup-form__section {
    box-shadow: rgb(0 0 0 / 0.5) 0 2px 4px;
    padding: 32px;
}

.signup-form__inputs-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.signup-form__label {
    display: flex;
    flex-flow: column;
    flex-basis: 35%;
    gap: 10px;
    text-transform: uppercase;
}

.signup-form__input {
    border: 1px solid #e5e7eb;
    border-radius: 4px;
    outline: none;
    transition: all 50ms ease-in-out;
}

.signup-form__input:focus {
    border: 1px solid rgb(0 127 255);
    box-shadow: rgb(0 0 0 / 0.5) 2px 2px 4px;
}

.signup-form__input:invalid {
    border: 1px solid red;
}

.signup-form__submit {
    margin: 32px;
    padding-block: 8px;
    padding-inline: 32px;
    border: 0;
    background: #596d48;
    color: white;
    border-radius: 4px;
}

.login-info {
    margin: 0;
}

.login-info__link {
    text-decoration: none;
    color: #596d48;
}
